services:
  banchonet:
    image: banchonet
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${SERVER_PORT}:5000
    env_file:
      - .env
    volumes:
      - "./data:/app/publish/.data"
    depends_on:
      mariadb:
        condition: service_started
      redis:
        condition: service_started
      MongoDB:
        condition: service_started
  mariadb:
    image: mariadb
    hostname: banchonet-mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASS}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASS}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_HOST: ${MYSQL_HOST}
    ports:
      - ${MYSQL_PORT}:${MYSQL_PORT}
  redis:
    image: redis
    hostname: banchonet-redis
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASS}
  MongoDB:
    image: mongo
    hostname: banchonet-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - ${MONGO_PORT}:${MONGO_PORT}